---
layout: default
permalink: /conducta
---

<div class="w3-container white-space">
  <h2 class="w3-center title" style="padding-bottom: 1.5em">Código de Conducta</h2>
  <h3 class="w3-center title">Propósito</h3>
  <p class="w3-center w3-large purpose">En <strong>Interferencias</strong> creemos en una comunidad abierta a todo el mundo. Como tal, nos comprometemos a proporcionar un ambiente amigable, seguro y acogedor para todes independientemente de su
    género, sexo, orientación sexual, capacidades/necesidades específicas, etnia o lugar de nacimiento o religión.</p>
  <p class="w3-center w3-large purpose-blockquote">Buscamos hablar de privacidad y derechos digitales desde la empatía.</p>
  <p class="w3-center w3-large purpose">Este código de conducta pretende mostrar nuestra disposición a crear un entorno seguro y distendido en el evento, comprometiendo a participantes, voluntarias y ponentes a ser responsables y respetuosas.</p>
</div>

<div class="w3-container w3-light-grey white-space">
  <div class="w3-row-padding base">
    <h3 class="title">Por favor, avisa si eres testigo de los siguientes comportamientos:</h3>
    <ul class="lists-coc">
      <li>Acciones o palabras intimidatorias, acosadoras, abusivas, discriminatorias, despectivas o degradantes por cualquier asistente o participante de las JASYP y eventos relacionados</li>
      <li>Comentarios despectivos y amenazas relacionadas con el género</li>
      <li>Comentarios transfobos, TERFs y similar</li>
      <li>Comentarios despectivos y amenazas contra personas de cualquier orientación sexual</li>
      <li>Comentarios y amenazas contra personas por su religión, creencia o espiritualidad, de cualquier tipo</li>
      <li>Comentarios y amenazas que hagan apología al fascismo, genocidio, supremacismo o de cualquier naturaleza política que promueva la intolerancia</li>
      <li>Uso no consentido y descontextualizado de desnudez o abuso de intimidad</li>
      <li>Acoso de cualquier tipo, contra alguien o un grupo de personas</li>
      <li>El uso de las imágenes no consentidas de personas</li>
    </ul>
    Desde Interferencias nos guardamos el derecho a ampliar esta lista con tal de proteger a las personas que participen y asistan a nuestras actividades.
  </div>
</div>

<div class="w3-container white-space">
  <div class="w3-row-padding base">
    <h3 class="title">Nos tomamos muy en serio este tema y tomaremos diversas medidas de ser necesario:</h3>
    <ul class="lists-coc">
      <li>Cualquier comportamiento alertado será rápidamente gestionado y no habrá excepciones ni para ponentes, organización, asistentes o participantes</li>
      <li>La organización se responsabiliza de crear un ambiente adecuado y seguro, y por tanto escucha sugerencias y no sólo avisos</li>
      <li>Si se considera adecuado, nos reservamos el derecho a la expulsión permanente de participantes en conductas tóxicas mencionadas anteriormente</li>
    </ul>
  </div>
</div>

<div class="w3-container w3-light-grey white-space">
  <div class="w3-row-padding base">
    <h3 class="title">¿Qué hacer si eres testigo u objeto de un comportamiento inaceptable?</h3>
    <ul class="lists-coc">
      Si estás involucrado en un comportamiento inaceptable, eres testigo de otra persona con dicho comportamiento o tienes otras preocupaciones, por favor notifícalo tan pronto como sea posible.<br><br>
      Tanto en los medios virtuales como físicos, <strong>habrá personas identificadas como parte de la administración en cada actividad</strong>, puedes comentarle cualquier problema directamente. También podrás
      escribirnos a <a href="mailto:conducta@interferencias.tech"><strong>conducta@interferencias.tech</strong></a> o comunicarnos cualquier problema mediante el chat que se habilitará durante las actividades con este mismo objetivo. Toda denuncia
      que
      sea recibida será eliminada una vez termine el congreso para garantizar la seguridad y el anonimato de las mismas.<br><br>
      <strong>Recuerda</strong>: El equipo de Interferencias (nos reconocerás porque llevaremos camisetas o distintivos con <a href="https://interferencias.tech/assets/images/logo.png" target="_blank">este símbolo</a> <img
        src="https://interferencias.tech/assets/images/logo.png" alt="Logo de Interferencias" width="30" height="30">) estará disponible para ayudar a toda persona que participe en nuestras actividades como contactos de seguridad local o para ofrecer
      cualquier tipo de ayuda a aquellos que experimentan un comportamiento inaceptable.
    </ul>
  </div>
</div>

<div class="w3-container white-space">
  <h3 class="w3-center title">¡Gracias por ayudarnos a crear un ambiente seguro!</h3>
  <p class="w3-center w3-large purpose">Esperamos seguros de que el evento irá genial, pero si ocurre algo estaremos ahí para gestionarlo rápidamente. Queremos crear una comunidad abierta y sana, así que necesitamos vuestra ayuda para eso: disfruta
    del evento, comparte y aprende; desde organización nos ocuparemos de que todo el mundo se sienta a gusto.</p>
</div>
