---
layout: index
permalink: /
---

<!-- Introduction -->

<div class="w3-container" style="padding:128px 16px">
  <h3 class="w3-center title">Lo que hacemos</h3>
  <p class="w3-center w3-large">Nos movemos principalmente por Granada para hablar de...</p>
  <div class="w3-row-padding w3-center" style="margin-top:64px">
    <div class="w3-third">
      <i class="fa fa-desktop w3-margin-bottom w3-jumbo w3-center"></i>
      <p class="w3-large title">Derechos digitales y privacidad</p>
      <p>Queremos crear un espacio seguro donde todas las personas puedan hablar y sentirse escuchadas sobre nuestros derechos en Internet y cómo su defensa afecta a asuntos como nuestra privacidad en la Red.</p>
    </div>

    <div class="w3-third">
      <i class="fa fa-heart w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large title">Software libre</p>
      <p>Nuestro tema constante todo el año. A parte de colaborar en <a href="https://eslib.re/" target="_blank"><strong>es<span style="color:red">Libre</span></strong></a>, queremos dar espacio para hablar de proyectos de software libre, licencias,
        comunidades y demás que ayuden a proteger nuestra privacidad.</p>
    </div>
    <div class="w3-third">
      <i class="fa fa-book w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large title">Educación</p>
      <p>Reivindicamos la necesidad de garantizar la <a href="https://commons.wikimedia.org/wiki/Category:Soberan%C3%ADa_Digital_en_las_Aulas_(Fuera_Google)" target="_blank"><strong>soberanía digital en las aulas</strong></a> concienciando en el uso
        de tecnología libre en el entorno educativo frente a las tecnologías privativas de Google, Microsoft y otras megacorporaciones.</p>
    </div>
  </div>
  <p style="padding-top: 2em !important" class="w3-center w3-large">Si también te interesan estos temas, seguramente querrás participar en actividades como las quedadas.<br><br>En <strong><a href="/quedadas">esta página</a></strong> puedes encontrar
    lo que tengamos preparado por ahora.</p>

</div>

<!-- Partners -->

<div class="w3-container w3-light-grey" style="padding:128px 16px" id="comunidades">
  <h3 class="w3-center title">Comunidades</h3>
  <p class="w3-center w3-large">Otras comunidades amigas con las que nos relacionamos de vez en cuando</p>
  <div class="w3-row-padding w3-grayscale" style="margin-top: 64px">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="site/images/eslibre.jpg" alt="esLibre" style="width:100%">
        <div class="w3-container">
          <h3>esLibre</h3>
          <p>Encuentro de personas y comunidades interesadas en la divulgación de la cultura libre y las tecnologías libres, tanto software libre como hardware libre.</p>
          <p><a href="https://eslib.re/" target="_blank"><button class="w3-button w3-light-grey w3-block"><i class="fa fa-link"></i> Web</button></a></p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="site/images/librelabgrx.png" alt="LibreLabGRX" style="width:100%">
        <div class="w3-container">
          <h3>LibreLabGRX</h3>
          <p>Organización hermana que se dedica a la promoción de tecnologías libres y cultura libre desde la ciudad de Granada y que suele colaborar en nuestras actividades.</p>
          <p><a href="https://librelabgrx.cc/" target="_blank"><button class="w3-button w3-light-grey w3-block"><i class="fa fa-link"></i> Web</button></a></p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="site/images/postnau.jpg" alt="PostApocalipsisNau" style="width:100%">
        <div class="w3-container">
          <h3>Post Apocalipsis Nau</h3>
          <p>Programa en la radio social de Vallekas sobre ciberpunk, comportamientos digitales y musiquita con el que se está planteando una retransmisión en directo.</p>
          <p><a href="https://todon.nl/@PostApocalipsisNau" target="_blank"><button class="w3-button w3-light-grey w3-block"><i class="fa fa-link"></i> Web</button></a></p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="site/images/radio_almaina.jpg" alt="Radio Almaina" style="width:100%">
        <div class="w3-container">
          <h3>Radio Almaina</h3>
          <p>Radio libre, asamblearia y autogestionada de Granada que también informa de los eventos y convocatorias realizadas por distintos colectivos de la ciudad.</p>
          <p><a href="https://radioalmaina.org/" target="_blank"><button class="w3-button w3-light-grey w3-block"><i class="fa fa-link"></i> Web</button></a></p>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Contact -->

<div class="w3-container" style="padding:128px 16px" id="contacto">
  <h3 class="w3-center title">CONTACTO</h3>
  <p class="w3-center w3-large">Si quieres preguntarnos cualquier cosa, puedes encontrarnos en:</p>

  <div style="margin-top:48px">
    <p class="w3-center w3-large">
      <i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"></i>
      <strong>Email</strong>: <a href="mailto:{{ site.email }}">{{ site.email }}</a>
    </p>
    <p class="w3-center w3-large">
      <i class="fa fa-telegram fa-fw w3-xxlarge w3-margin-right"> </i>
      <strong>Telegram</strong>: <a href="https://t.me/{{ site.telegram }}">@{{ site.telegram }}</a>
    </p>
    <p class="w3-center w3-large">
      <i class="fa fa-matrix-org fa-fw w3-xxlarge w3-margin-right"> </i>
      <strong>Matrix</strong>: <a href="https://matrix.to/#/{{ site.matrix }}">{{ site.matrix }}</a>
    </p>
    <p class="w3-center w3-large">
      <i class="fa fa-mastodon fa-fw w3-xxlarge w3-margin-right"> </i>
      <strong>Mastodon</strong>: <a href="https://{{ site.mastodon_instance }}/@{{ site.mastodon_user }}/">@{{ site.mastodon_full }}</a>
    </p>
    <p class="w3-center w3-large">
      <i class="fa fa-twitter fa-fw w3-xxlarge w3-margin-right"> </i>
      <strong>Twitter</strong>: <a href="https://twitter.com/{{ site.twitter }}">@{{ site.twitter }}</a>
    </p>
    <br>

    <!-- Image of location/map -->
    <img src="site/images/albayzin.jpg" class="w3-image" style="width:100%;margin-top:48px"><br>
    <span class="w3-opacity">Foto de César de la Hoz</span>
  </div>
</div>
