---
layout: default
permalink: /info
---

<div class="w3-container" style="padding:5em 16px">
  <div style="padding-top: 4em" class="w3-row-padding">
    <div class="w3-col m6" style="padding-bottom: 1.5em">
      <p style="padding-top: 1em" class="w3-center proposal">
        <span class="interferencias">Interferencias</span> es una asociación ciberactivista sin ánimo de lucro que nació en el año 2016 en Granada con la intención de hacer de punto de encuentro de personas interadas en derechos digitales y
        privacidad en Internet y cómo es posible usar la seguridad informática y el software libre para garantizar esto.
      </p>
      <p style="padding-top: 1em" class="w3-center proposal">La idea es compartir información sobre estos temas en los medios que tengamos a nuestro alcance, tanto digitales como físicos, y es por eso por lo que intentamos organizar algunas
        actividades y eventos como las <strong><a href="https://jasyp.interferencias.tech/" target="_blank">JASYP (Jornadas de Anonimato, Seguridad y Privacidad)</a></strong> que comenzamos a organizar en el año 2017 para conocer las opiniones del
        resto de personas y aprender sobre lo que tengan que compartir.</p>
      <p style="padding-top: 1em" class="w3-center proposal">También venimos participando en la organización del congreso <a href="https://eslib.re/" target="_blank"><strong>es<span style="color:red">Libre</span></strong></a> desde su primera edición
        en el 2019, organizando en la edición de 2020 una sala sobre <strong><a href="https://commons.wikimedia.org/wiki/Category:EsLibre_2020_-_Derechos_Digitales,_Privacidad_en_Internet_y_Seguridad_Inform%C3%A1tica" target="_blank">"Derechos
            Digitales, Privacidad en Internet y Seguridad Informática"</a></strong> y en la de 2021 otra sobre <strong><a href="https://commons.wikimedia.org/wiki/Category:Soberan%C3%ADa_Digital_en_las_Aulas_(Fuera_Google)" target="_blank">"Derechos
            Digitales y Privacidad en Internet + Soberanía Digital en las Aulas"</a></strong>.</p>
    </div>
    <div class="w3-col m6">
      <p class="w3-center proposal">
        <img class="w3-image w3-round-large" src="/site/images/jasyp_2022.jpg" alt="JASYP 2022" width="100%">
      </p>
    </div>
  </div>
</div>
<div style="padding-bottom: 5em" class="w3-container">
  <div class="w3-row-padding">
    <div class="w3-col m6">
      <p class="w3-center proposal">
        <img class="w3-image w3-round-large" src="/site/images/jasyp_2022_promo.jpg" alt="JASYP 2022" width="100%">
      </p>
    </div>
    <div class="w3-col m6">
      <p style="padding-top: 3em" class="w3-center proposal">Seguimos creyendo que <strong>no hay nada más importante que las comunidades y las personas que las hacen posibles</strong>, por eso siempre hemos querido contribuir intentando ayudar a
        crear espacios donde las personas puedan expresar libremente sus inquietudes sobre estas mismas temáticas que nos preocupan. <br>
        <br>Aunque la tecnología puede ayudarnos en la comunicación de forma muy simple (algo que de otra forma, quizás sería imposible), también nos gusta no perder la cercanía y la espontaneidad del intercambio de conocimientos, opiniones e ideas
        en persona. <br>
        <br>Todo esto es lo que nos gustaría que siguiera aumentando para llegar a tanta gente como sea posible; y claro está, aprovechar también las oportunidades que nos da nuestra tierra para compartir buenos ratos visitando nuestros bares o
        paseando por nuestros monumentos.
      </p>
    </div>
  </div>
</div>