---
layout: default
permalink: /quedadas
---
<div class="w3-container" style="padding-top: 3em; padding-bottom: 2em;">
  <div class="w3-row">
    <div class="w3-col m2 l2">&nbsp;</div>
    <div class="w3-center w3-col m8 l8" style="padding-left: 1em; padding-right: 1em;">
      <h1 class="w3-center title"><strong>¡VUELVEN LAS QUEDADAS DE <span class="interferencias">INTERFERENCIAS</span>!</strong></h1>
      <p class="w3-center w3-large">La idea de las quedadas es reunirnos en alguna cafetería o bar de por aquí para hablar y debatir sobre diversos temas de actualidad relacionados con el mundo de los derechos digitales. Como siempre, las quedadas
        son abiertas a todo el mundo y cualquier persona puede proponer un tema sobre el que debatir. En esta ocasión posibles temas sobre los que debatir son:</p>
    </div>
    <div class="w3-col m2 l2">&nbsp;</div>
  </div>
  <div class="w3-row">
    <div class="w3-col m1 l1">&nbsp;</div>
    <div class="w3-center w3-col m3 l3" style="padding-top: 1em;">
      <img class="w3-image w3-round-large" src="site/images/quedadas/quedada_marzo_2023.jpg" alt="Cartel quedadas" style="max-height: 550px !important">
    </div>
    <div class="w3-col m1 l1">&nbsp;</div>
    <div class="w3-col m6 l6">
      <p>
      <ul>
        <li class="w3-large">El Fediverso ha ganado relevancia ultimamente, pero las redes sociales descentralizadas no son una simple alternativa: son espacios diseñados para la comunicación y la interacción entre las personas, ofreciendo una gran
          oportunidad también para la creación de comunidades. Por eso también nos interesa pensar cómo podríamos facilitar todavía más su entrada a todas las personas.</li><br>
        <li class="w3-large">Un fácil acceso al conocimiento es un requisito necesario para reducir barreras en la sociedad, pero si la preservación del conocimiento depende de empresas privadas que obedecen a sus intereses particulares, puede que no
          nos quede más remedio que recurrir a métodos menos lícitos para acceder a él. Queremos hablar sobre iniciativas que buscan garantizar el acceso de las personas al patrimonio cultural.</li><br>
        <li class="w3-large">Los gobiernos también pueden recopilar datos con tecnologías como la detección facial a kilómetros, el mapeo de habitaciones por asistentes de voz o el reconocimiento de tatuajes en aeropuertos. Aunque se han
          "popularizado" medidas como
          las camisetas que confunden a los algoritmos de detección de rostros, no es tan fácil protegernos y por eso nos gustaría tratar también este tema.</li>
      </ul>
      </p>
    </div>
    <div class="w3-col m1 l1">&nbsp;</div>
  </div>
</div>

<div class="w3-row">
  <div class="w3-col m1 l1">&nbsp;</div>
  <div class="w3-col m4 l4">
<p class="w3-center w3-large" style="padding-top: 2em; padding-left: 1em; padding-right: 1em;">
  En cualquier caso, cualquier otro tema relacionado con la temática que se considere interesante es siempre bienvenido.<br><br>
  ¡Nos vemos el <strong>viernes 17 de marzo</strong> a las <strong>18:00</strong> en <strong>La Qarmita</strong> (<i>Calle Águila 20, 18002, Granada</i>)!<br><br>
  PD: Si tienes pensado asistir, te agradeceríamos que te apuntaras en <strong><a href="https://eventos.librelabgrx.cc/events/8719e39b-6094-43bf-bf91-c32ddcbc8afe" target="_blank">esta página</a></strong> para hacernos una idea de cuántas personas seremos<br>(no es
  necesario registrarse).<br><br>
</p>
  </div>
  <div class="w3-col m1 l1">&nbsp;</div>
  <div class="w3-col m5 l5" style="padding-left: 1em; padding-right: 1em;">
    <p class="w3-center">
      <iframe style="min-width: 100% !important;" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
        src="https://www.openstreetmap.org/export/embed.html?bbox=-3.6038911342620854%2C37.17217919801822%2C-3.601380586624146%2C37.17358763059602&amp;layer=mapnik&amp;marker=37.17288235416151%2C-3.6026358604431152"
        style="border: 1px solid black"></iframe><br /><small><a href="https://www.openstreetmap.org/?mlat=37.17288&amp;mlon=-3.60264#map=19/37.17288/-3.60264" target="_blank">Ver mapa más grande</a></small>
    </p>
  </div>
  <div class="w3-col m1 l1">&nbsp;</div>
</div>
