<!-- Header with full-height image -->
<header class="parallax w3-display-container w3-grayscale-min" id="inicio">
  <div class="w3-display-left w3-text-white" style="padding: 48px !important; top: 30% !important;">
    <span style="color: #f3f5d0 !important" class="w3-jumbo w3-hide-small">INTERFERENCIAS</span>
    <span style="color: #f3f5d0 !important" class="w3-xxlarge w3-hide-large w3-hide-medium">INTERFERENCIAS</span><br>
    <span style="color: #f3f5d0 !important" class="w3-large">Derechos digitales, privacidad en Internet y software libre.</span>
    <p><a href="/info" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">+ info</a></p>
  </div>
</header>
