<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <a href="/" class="w3-bar-item w3-button w3-wide">INICIO</a>
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
      <a href="/info" class="w3-bar-item w3-button"><i class="fa fa-info"></i> INTERFERENCIAS</a>
      <a href="/quedadas" class="w3-bar-item w3-button"><i class="fa fa-comments"></i> QUEDADAS</a>
      <a href="/#comunidades" class="w3-bar-item w3-button"><i class="fa fa-bullhorn"></i> COMUNIDADES</a>
      <a href="/conducta" class="w3-bar-item w3-button"><i class="fa fa-handshake-o"></i> CONDUCTA</a>
      <a href="/#contacto" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACTO</a>
    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>
