<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Cerrar ×</a>
  <a href="/info" onclick="w3_close()" class="w3-bar-item w3-button"><i class="fa fa-info"></i> INTERFERENCIAS</a>
  <a href="/quedadas" onclick="w3_close()" class="w3-bar-item w3-button"><i class="fa fa-comments"></i> QUEDADAS</a>
  <a href="/#comunidades" onclick="w3_close()" class="w3-bar-item w3-button"><i class="fa fa-bullhorn"></i> COMUNIDADES</a>
  <a href="/conducta" onclick="w3_close()" class="w3-bar-item w3-button"><i class="fa fa-handshake-o"></i> CONDUCTA</a>
  <a href="/#contacto" onclick="w3_close()" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACTO</a>
</nav>
