body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

body,
html {
  height: 100%;
  line-height: 1.8;
}

b, strong {
  color: #2f3a41;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  background-image: url("/site/images/retro_city_vibes.avif");
  /*
Photo downloaded from: https://unsplash.com/photos/nBy2abg-6UM
Author: Jason Leung
Free to use under the Unsplash License: https://unsplash.com/license
*/
  min-height: 100%;
}

.title {
  font-weight: bold;
  color: #2f3a41;
}

.w3-bar .w3-button {
  padding: 16px;
}

.parallax {
  /* The image used */
  background-image: url("/site/images/logo_torcido_sombra.avif");
  /*
Photo downloaded from: https://unsplash.com/photos/xxn48oa73sM
Author: Joshua Gandara
Free to use under the Unsplash License: https://unsplash.com/license
*/
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.purpose {
  margin: auto;
  width: 85% !important;
  padding-bottom: 2em !important;
  padding-top: 2em !important;
}

.purpose-blockquote {
  margin: auto;
  width: 60% !important;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 25px;
  padding-right: 25px;
  border: 2px solid black;
  border-radius: 15px 50px;
  border-style: groove;
  font-weight: bold;
  font-style: italic;
}

.base {
  margin: auto;
  width: 85% !important;
}

.white-space {
  padding-top: 64px !important;
  padding-bottom: 64px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.lists-coc {
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 2 !important;
}

.tag.is-success {
  background-color: #23d160;
  color: #fff;
  float: right !important;
}

.tag.is-danger {
  background-color: #f14668;
  color: #fff;
  float: right !important;
}

.tag {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 290486px;
  color: #4a4a4a;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 14px;
  height: 1.5em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1.5;
  padding-left: .875em;
  padding-right: .875em;
  vertical-align: top;
  white-space: nowrap;
}

.list-forms-text {
  box-sizing: border-box;
  list-style-position: inside;
  color: #6c757d !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  text-align: left !important;
}

.label-forms-text {
  display: inline-block;
  margin-bottom: .5rem;
  box-sizing: border-box;
  font-weight: bolder;
  font-size: 1rem;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

.label-check {
  margin-bottom: .5rem;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  padding-left: 2em !important;
}

.call-outer {
  overflow: hidden !important;
  position: relative !important;
}

.call-inner {
  position: absolute !important;
  height: 100px !important;
  width: 100px !important;
  right: -50px !important;
  top: 50px !important;
}

.other-link {
  color: black !important;
}

.other-link-w {
  color: white !important;
}

.link-normal {
  color: #007bff !important;
}

.link-hover {
  color: #00468B !important;
}

.proposal {
  margin: auto;
  width: 85% !important;
}

.proposal-quote {
  margin: auto;
  width: 70% !important;
}

.interferencias {
  color: green !important;
  font-weight: bold !important;
}

.list-space {
  margin-bottom: .25em !important;
}

.program-photo {
  width: 10% !important;
}

.program-photo-img {
  display: block;
}

.program-speaker {
  width: 45% !important;
  text-align: center !important;
}

.program-info {
  width: 45% !important;
  text-align: center !important;
}

.program-text {
  padding: 1em 2em 1em 2em !important;
}

.title {
  text-align: center !important;
}

.program-link {
  color: #0c58ca !important;
}

.pr-item {
  padding-top: 0.2em !important;
}

.pr-text {
  display: block !important;
  margin-bottom: 0.7em !important;
}
